@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
:root{
    --background: #2d5d7b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}
header{
    background: var(--background);
    width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
height: 65px;
padding: 0px,30px,0px,30px;
position: fixed;
top: 0;
}
.logo{
    height: 100%;
}
.navbar,
.navbar-list {
display: flex;
align-items: center;
justify-content: center;
}
.navbar{
    gap: 150px;
}
.navbar-list{
    gap: 20px;
}
.navbar-list a {
    color: #FEFCAD;
    font-size: 18px;
    font-weight: 600;
}